html {

    font-family:'Anaheim', sans-serif;
}

body {
    /*background: url("../images/roast_beef.jpg") no-repeat center center fixed;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }

.add-box, .goal-container, .main-header, .login-form, .register-form, .login-header, .log-container, .add-food-container, .foods-container {
    width: 30%;
    margin: 30px auto;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    text-align: center;
}



.login-header, .add-box {
    width: 60%;
}

.logo {
    width: 100px;
    height: auto;
}

.main-header{
    width: 100%;
    height: 250px;
    margin-top: 0;
}
.logo-container {
    display: inline-block;
    float: left;
    width: 20%;
    margin: 0;
}
.logo-container img {
    height: 230px;
    width: 100%;
}
.banner-container {
    display: inline-block;
    float: left;
    width: 80%;
    margin: 0;
    text-align: left
}
.main-nav button {
    width: 23%;
}

.log-container, .add-food-container, .foods-container {
    width: 70%
}



.header-container li, .totals-container li, .foods-header li, .foods-list li, .food-choices-header li, .food-choices-list li{
    list-style-type: none;
    display: inline-block;
    float: left;
    width: 10%;
    margin: 0;
}
.add-box button {
    width: auto;
}
.exit-button {
    margin-top: -5px;
    float: right;
}
.date-container *, .add-box-header h3, .add-box-header input {
    display: inline-block;
}
.date-container button {
    width: auto;
}

.header-container {
    margin-left: 15%;
}
.meal-container h4 {
    text-align: left;
}

.meal-container p {
    display: inline-block;
    /*width: 15%;*/
}
.food-entry {
    width: 100%;
}

.food-input {
    display: inline-block;
    width: 10%;
    margin: 0;
}
.foods-header, .food-choices-header {
    width: 100%;
}

.food-input input {
    width: 90%;
}
.food-input button {
    width: 100%;
}
.add-food-container h2, .foods-container h2 {
    text-align: left;
    text-align: left;
}
.goal-container {
    width: 80%;
}
.box-container {
    width: 90%;
    margin: 10px auto;
}
.goal-box {
    display: inline-block;
    border: 1px solid black;
    width: 24%;
}
.goal-display {
    height: 80px;
    font-size: 72px;
}
.goal-input {
    width: 90%;
    text-align: center;
}

input, button {
    margin: 5px auto;
}

button {
    width: 40%
}

hr {
    width: 70%;
    color: black;
}

h1, h2 {

    margin: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #568203;
}

h1 {
    font-size: 90px;
}

h2 {
    font-size: 48px;
}

a {
    color: black;
}

.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;

    z-index: -1000;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
    .bg {
        left: 50%;
        margin-left: -512px;   /* 50% */
    }
}