html {

    font-family:'Anaheim', sans-serif;
}

body {
    /*background: url("../images/roast_beef.jpg") no-repeat center center fixed;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }

.add-box, .goal-container, .main-header, .login-form, .register-form, .login-header, .log-container, .add-food-container, .foods-container {
    width: 30%;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    text-align: center;
}
button {
    cursor: pointer;
    padding: 8px;
    margin: 4px;
    background-color: #094F70;
    color: white;
    border: 1px solid black;
}
button:hover {
    background-color: #BD9303;
}
button:active {
    color: #094F70
}
ul {
    width: 100%;
}

.login-header, .add-box {
    width: 60%;
}
.date-display {
    width: 20%;
}
.add-box {
    display: block;
    position: fixed;
    top: 10%;
    left: 25%;
    height: 400px;
    padding: 20px;
    z-index: 10002;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.9);
}
.black-overlay{
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 1000px;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.6;
    opacity:.60;
    filter: alpha(opacity=60);
    overflow: hidden;
}

.logo {
    width: 100px;
    height: auto;
}

.main-header{
    width: 100%;
    height: 250px;
    margin-top: 0;
}
.logo-container {
    display: inline-block;
    float: left;
    width: 20%;
    margin: 0;
}
.logo-container img {
    height: 230px;
    width: 100%;
}
.banner-container {
    display: inline-block;
    float: left;
    width: 80%;
    margin: 0;
    text-align: left
}
.main-nav button {
    width: 23%;
}

.log-container, .foods-container {
    width: 80%
}

.main-title p, .logout {
    display: inline-block;
    margin-right: 5px;
}

.logout {
    color: #094F79;
    font-weight: bold;
    cursor: pointer;
}

.add-to-meal {
    color: #094F79;
    float: left;
    margin-left: 10px;
    font-weight: bold;
    cursor: pointer;
}
.foods-container h2 {
    display: block;
    float: left;
}
.add-food {
    display: block;
    float: left;
    margin: 10px 0 0 16px;
    width: auto;
}

.remove {
    font-size: 16px;
    width: auto;
}

.logout:hover, .add-to-meal:hover {
    color: #BD9303;
}

.logout:active, .add-to-meal:active {
    color: #094F70;
}
.header-container li, .totals-container li, .foods-header li, .foods-list li, .food-choices-header li, .food-choices-list li, .meal-container li{
    list-style-type: none;
    text-align: left;
    display: block;
    float: left;
    width: 12%;
    height: 20px;
    margin: 0;
}

.add-box button {
    width: auto;
}
.exit-button {
    float: right;
}
.date-container *, .add-box-header h3, .add-box-header input {
    display: inline-block;
}
.date-container button {
    width: auto;
}
.date-container h3 {
    font-size: 24px;
}
.header-container {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
}
.meal-container {
    margin-top: 20px;
}
.meal-container div, .meal-container ul, .food-choices ul, .foods-list ul  {
    margin: 2px 0;
}
.meal-container h3 {
    text-align: left;
    margin: 0 0 5px 0;
}
.meal-container h4 {
    text-align: left;
    margin: 10px 0 0 20px;
}
.add-box h4 {
    text-align: left;
    margin: 10px 0 0 5px;
}
.meal-container p {
    display: inline-block;
    /*width: 15%;*/
}
.food-entry {
    width: 100%;
}
.add-food-container {
    height: auto;
}

.food-input {
    display: inline-block;
    width: 11%;
    margin: 0;
}
.foods-header {
    width: 100%;
}
.foods-header li, .totals-container li {
    font-weight: bold;
    font-size: 20px;
}

.food-input input {
    width: 90%;
}
.food-input button {
    width: 100%;
}
.add-food-container h2, .foods-container h2 {
    text-align: left;
}
.goal-container {
    width: 80%;
}
.box-container {
    width: 100%;
    margin: 10px auto;
}
.goal-box {
    display: inline-block;
    border: 1px solid black;
    width: 20%;
    margin: 0 1%;
    padding: 1%;
}
.goal-display {
    height: 80px;
    font-size: 72px;
}
.goal-input {
    width: 90%;
    text-align: center;
}

input, button {
    margin: 5px auto;
}

button {
    width: 40%
}

hr {
    width: 70%;
    color: black;
}

h1, h2 {

    margin: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #568203;
}

h1 {
    font-size: 90px;
}

h2 {
    font-size: 48px;
}

a {
    color: black;
}
i {
    cursor: pointer;
}
i:hover {
    color: #BD9303;
}
i:active {
    color: black;
}

.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;

    z-index: -1000;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
    .bg {
        left: 50%;
        margin-left: -512px;   /* 50% */
    }
}