
<div class="log-container">
    <div ng-show="addWindow" class="black_overlay"></div>
    <img src="views/images/kale.jpg" class="bg" />
    <div class="date-container">
        <button ng-click="prevDay()">Prev</button>
        <h3>{{displayDate}}</h3>
        <button ng-click="nextDay()">Next</button>
    </div>
    <div class="header-container">
        <ul>
            <li>Name</li>
            <li>Calories</li>
            <li>Fat</li>
            <li>Carbs</li>
            <li>Protein</li>
            <li>Fiber</li>
            <li>Net Carbs</li>
        </ul>
    </div>
    <div class="clearfix"></div>
    <div class="meal-container">
        <div class="meal-container">
            <h4>Breakfast</h4>
            <ul ng-repeat="breakfast in breakfasts">
                <li>{{breakfast.name}}</li>
                <li>{{breakfast.calories}}</li>
                <li>{{breakfast.fat}}</li>
                <li>{{breakfast.carbs}}</li>
                <li>{{breakfast.protein}}</li>
                <li>{{breakfast.fiber}}</li>
                <li>{{breakfast.netCarbs}}</li>
                <li><button ng-bind="breakfast.id">Remove</button></li><br>
            </ul>
            <button class="add-to-meal" ng-click="addToMeal('Breakfast')">+ add to Breakfast</button>
        </div>
        <div class="clearfix"></div>
        <div class="meal-container">
            <h4>Lunch</h4>
            <ul ng-repeat="lunch in lunches">
                <li>{{lunch.name}}</li>
                <li>{{lunch.calories}}</li>
                <li>{{lunch.fat}}</li>
                <li>{{lunch.carbs}}</li>
                <li>{{lunch.protein}}</li>
                <li>{{lunch.fiber}}</li>
                <li>{{lunch.netCarbs}}</li>
                <li><button ng-bind="lunch.id">Remove</button></li><br>
            </ul>
            <button class="add-to-meal" ng-click="addToMeal('Lunch')">+ add to Lunch</button>
        </div>
        <div class="clearfix"></div>
        <div class="meal-container">
            <h4>Dinner</h4>
            <ul ng-repeat="dinner in dinners">
                <li>{{dinner.name}}</li>
                <li>{{dinner.calories}}</li>
                <li>{{dinner.fat}}</li>
                <li>{{dinner.carbs}}</li>
                <li>{{dinner.protein}}</li>
                <li>{{dinner.fiber}}</li>
                <li>{{dinner.netCarbs}}</li>
                <li><button ng-bind="dinner.id">Remove</button></li><br>
            </ul>
            <button class="add-to-meal" ng-click="addToMeal('Dinner')">+ add to Dinner</button>
        </div>
        <div class="clearfix"></div>
        <div class="meal-container">
            <h4>Snacks</h4>
            <ul ng-repeat="snack in snacks">
                <li>{{snack.name}}</li>
                <li>{{snack.calories}}</li>
                <li>{{snack.fat}}</li>
                <li>{{snack.carbs}}</li>
                <li>{{snack.protein}}</li>
                <li>{{snack.fiber}}</li>
                <li>{{snack.netCarbs}}</li>
                <li><button ng-bind="snack.id">Remove</button></li><br>
            </ul>
            <button class="add-to-meal" ng-click="addToMeal('Snacks')">+ add to Snacks</button>
        </div>
        <div class="clearfix"></div>
        <div class="totals-container">
            <ul>
                <li> class="total">Total</li>
                <li>{{total.calories}}</li>
                <li>{{total.fat}}</li>
                <li>{{total.carbs}}</li>
                <li>{{total.protein}}</li>
                <li>{{total.fiber}}</li>
                <li>{{total.netCarbs}}</li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div ng-show="addWindow" class="add-box">
    <div class="exit-button">
        <button ng-click="addWindow = false">X</button>
    </div><br>
    <div class="add-box-header">
        <h3>{{meal}}</h3>
        <input type="search" ng-model="apiSearch" placeholder="Search API">
        <button class="search-button">S</button>
        <input type="search" ng-model="myFoodsSearch" placeholder="Search My Foods">
        <button class="search-button" ng-click="searchMyFoods(myFoodsSearch)">S</button>
    </div>
    <hr>
    <div class="food-choices">
        <div class="food-choices-header">
            <ul>
                <li>Name</li>
                <li>Calories</li>
                <li>Fat</li>
                <li>Carbs</li>
                <li>Protein</li>
                <li>Fiber</li>
                <li>Net Carbs</li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div ng-repeat="food in searchFoods" class="food-choices-list">
            <ul>
                <li>{{food.name}}</li>
                <li>{{food.calories}}</li>
                <li>{{food.fat}}</li>
                <li>{{food.carbs}}</li>
                <li>{{food.protein}}</li>
                <li>{{food.fiber}}</li>
                <li>{{food.netCarbs}}</li>
                <button class="addFood" ng-click="addFood(food._id)">Add</button>
            </ul><br>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

