
<div class="goal-container">
    <img src="views/images/walnuts.jpg" class="bg" />
    <h2>Daily Macronutrient Goals</h2>
    <div class="box-container">
         <div class="goal-box">
             <h2>Calories</h2>
             <input class="goal-input" type="number" ng-model="calories">
             <button ng-click="modifyMacro('calories', 'up')"><i class="fa fa-chevron-up"></i></button>
             <h3 class="goal-display">{{calories}}</h3>
             <button ng-click="modifyMacro('calories', 'down')"><i class="fa fa-chevron-down"></i></button>
         </div>
        <div class="goal-box">
            <h2>Fat</h2>
            <p>{{macronutrientObject.fat}}g</p>
            <button ng-click="modifyMacro('fat', 'up')"><i class="fa fa-chevron-up"></i></button>
            <h3 class="goal-display">{{fatPercentage}}%</h3>
            <button ng-click="modifyMacro('fat', 'down')"><i class="fa fa-chevron-down"></i></button>
        </div>
        <div class="goal-box">
            <h2>Net Carbs</h2>
            <p>{{macronutrientObject.netCarbs}}g</p>
            <button ng-click="modifyMacro('netCarbs', 'up')"><i class="fa fa-chevron-up" ></i></button>
            <h3 class="goal-display">{{netCarbsPercentage}}%</h3>
            <button ng-click="modifyMacro('netCarbs', 'down')"><i class="fa fa-chevron-down"></i></button>
        </div>
        <div class="goal-box">
            <h2>Protein</h2>
            <p>{{macronutrientObject.protein}}g</p>
            <button ng-click="modifyMacro('protein', 'up')"><i class="fa fa-chevron-up"></i></button>
            <h3 class="goal-display">{{proteinPercentage}}%</h3>
            <button ng-click="modifyMacro('protein', 'down')"><i class="fa fa-chevron-down"></i></button>
        </div>
        <button ng-click="calculateMacros()">Save Macros</button>
    </div>
</div>