<!DOCTYPE html>
<html lang="en" ng-app="landingApp">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/angular-route/angular-route.min.js"></script>
    <script src="assets/scripts/client.min.js"></script>
    <base href="/">
</head>
<body>
    <div class="landing-header">
        <h1>KetoLog</h1>
        <hr/>
        <h3>nutrition tracking for a low-carb lifestyle</h3>
        <div class="landing-logo">
            <img src="views/images/logo.png" />
        </div>
    </div>

    <div ng-view>

    </div>

</body>
</html>