
<div class="add-food-container">
    <img src="views/images/eggs.jpg" class="bg" />

    <h2>Add Foods</h2>
    <div class="food-entry">
        <div class="food-input">
            <label for="name">Name</label><br>
            <input type="text" ng-model="myFood.name" id="name" />
        </div>
        <div class="food-input">
            <label for="calories">Calories</label><br>
            <input type="text" ng-model="myFood.calories" id="calories" />
        </div>
        <div class="food-input">
            <label for="fat">Fat</label><br>
            <input type="text" ng-model="myFood.fat" id="fat" />
        </div>
        <div class="food-input">
            <label for="carbs">Carbs</label><br>
            <input type="text" ng-model="myFood.carbs" id="carbs" />
        </div>
        <div class="food-input">
            <label for="protein">Protein</label><br>
            <input type="text" ng-model="myFood.protein" id="protein" />
        </div>
        <div class="food-input">
            <label for="fiber">Fiber</label><br>
            <input type="text" ng-model="myFood.fiber" id="fiber" />
        </div>
        <div class="food-input">
            <label for="netcarbs">Net Carbs</label><br>
            <input type="text" ng-model="myFood.netCarbs" id="netCarbs" />
        </div>
        <div class="food-input">
            <button ng-click="addMyFood()">Add Food</button>
        </div>
    </div>
</div>

<div class="foods-container">
    <h2>My Foods</h2>
    <div class="foods-header">
        <ul>
            <li>Name</li>
            <li>Calories</li>
            <li>Fat</li>
            <li>Carbs</li>
            <li>Protein</li>
            <li>Fiber</li>
            <li>Net Carbs</li>
        </ul>
    </div>
    <div class="clearfix"></div>
    <div class="foods-list">
        <ul ng-repeat="food in allMyFoods">
            <li>{{food.name}}</li>
            <li>{{food.calories}}</li>
            <li>{{food.fat}}</li>
            <li>{{food.carbs}}</li>
            <li>{{food.protein}}</li>
            <li>{{food.fiber}}</li>
            <li>{{food.netCarbs}}</li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>