<div class="register-form">
    <h2>Register</h2>
    <hr/>
    <p>Please enter a username and password below:</p>
    <hr/>
    <form>
        <div class="login-username">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" placeholder="username" />
        </div>
        <div class="login-password">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="password" />
        </div>
        <div class="to-login">
            <p>Already a registered user?</p>
            <a href="/login"><button>Log In</button></a>
        </div>
    </form>
</div>