<div class="register-form">
    <h2>Register</h2>
    <hr/>
    <p>Please enter a username and password below:</p>
    <hr/>
    <div class="login-username">
        <label for="username">Username:</label>
        <input type="text" ng-model="newUser.username" id="username" placeholder="username" />
    </div>
    <div class="login-password">
        <label for="password">Password:</label>
        <input type="password" ng-model="newUser.password" id="password" placeholder="password" />
    </div>
    <div class="register-btn">
        <button ng-click="registerUser()">Register</button>
    </div>
    <div class="to-login">
        <p>Already a registered user?</p>
        <a href="/login">Log in here!</a>
    </div>
</div>